@page
@model IndexModel
@{
    Layout = "Shared/_MainLayout";
}


<!-- Banner -->
<div class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-item">
                    <h1>زندگی سالم شما اولویت اول ما است.</h1>
                    <p>
                        لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                        صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.
                    </p>
                    <div class="common-btn-two">
                        <a asp-page="/DoctorList">قرار ملاقات</a> <a class="cmn-btn-right-two" href="about.html">بیشتر بدانید</a>
                    </div>
                    <div class="banner-right">
                        <img src="~/MainAssets/img/home-three/1.png" alt="Banner">
                        <img src="~/MainAssets/img/home-three/2.png" alt="Banner">
                        <img src="~/MainAssets/img/home-three/2.png" alt="Banner">
                        <img src="~/MainAssets/img/home-one/5.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heart-shape"> <img src="~/MainAssets/img/home-three/3.png" alt="Banner"> </div>
</div>
<!-- End Banner -->
<!-- About -->
<section class="hospital-area pb-70">
    <div class="container-fluid p-0">
        <div class="hospital-shape"> <img src="~/MainAssets/img/home-three/6.png" alt="Shape"> </div>
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0">
                <div class="hospital-item">
                    <div class="row m-0">
                        <div class="col-lg-6 p-0">
                            <div class="hospital-left-one">
                                <img src="~/MainAssets/img/home-three/4.jpg" alt="About">
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="hospital-left-two">
                                <img src="~/MainAssets/img/home-three/5.jpg" alt="About">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hospital-item hospital-right">
                    <h2>درباره بیمارستان ما</h2>
                    <p>
                        لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                        صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40
                        سال استاندارد صنعت بوده است.
                    </p>
                    <ul>
                        <li> <i class="icofont-check-circled"></i> بازدید از وبسایت </li>
                        <li> <i class="icofont-check-circled"></i> انتخاب خدمات </li>
                        <li> <i class="icofont-check-circled"></i> ارسال پیام </li>
                    </ul> <a class="hospital-btn" href="#">بیشتر بدانید</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Speciality -->
@if (Model.DoctorGroups.Count > 0)
{
    <section class="speciality-area pb-100">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-lg-7">
                    <div class="speciality-left">
                        <div class="section-title-two">
                            <span>تخصص</span>
                            <h2>نمونه تخصص های ما</h2>
                        </div>
                        <div class="speciality-item">
                            <div class="row m-0">
                                @foreach (var item in Model.DoctorGroups)
                                {
                                    <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                        <div class="speciality-inner">

                                            <h3>@item.Name</h3>
                                            <p>
                                                تعداد دکتر: @item.Doctor.Count
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pr-0">
                    <div class="speciality-item speciality-right speciality-right-two">
                        <img src="~/MainAssets/img/home-two/4.jpg" alt="Speciality">
                        <div class="speciality-emergency">
                            <div class="speciality-icon"> <i class="icofont-ui-call"></i> </div>
                            <h3>تماس اضطراری</h3>
                            <p>07554332322</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- End Speciality -->
<!-- Doctors -->
@if (Model.Doctors.Count > 0)
{
    <section class="doctors-area pt-100">
        <div class="container">
            <div class="section-title-two">
                <span>پزشکان</span>
                <h2>با پزشکان ما ملاقات کنید </h2>
            </div>
            <div class="row">
                @foreach (var item in Model.Doctors)
                {
                    <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="doctor-item">
                            <div class="doctor-top">
                                @if (item.ImageName != null)
                                {
                                    <img src="~/DoctorImage/@item.ImageName" alt="Doctor" style="height: 553px"> <a asp-page="/SingleDoctor" asp-route-id="@item.Id">قرار ملاقات</a>
                                }
                                else
                                {
                                    <img src="~/MainAssets/img/profile.jpg" alt="Doctor" style="height: 553px"> <a asp-page="/SingleDoctor" asp-route-id="@item.Id">قرار ملاقات</a>
                                }
                            </div>
                            <div class="doctor-bottom">
                                <h3> <a asp-page="/SingleDoctor" asp-route-id="@item.Id">دکتر @($"{item.FirstName} {item.LastName}")</a> </h3> <span>متخصص @item.DoctorGroup.Name</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Doctors.Count == 3)
            {
                <div class="doctor-btn"> <a href="doctor.html">مشاهده همه</a> </div>
            }
        </div>
    </section>
}
<!-- End Doctors -->
<!-- Counter -->
<div class="counter-area counter-area-three">
    <div class="container">
        <div class="row counter-bg">
            <div class="col-sm-6 col-lg-6">
                <div class="counter-item">
                    <i class="icofont-people"></i>
                    <h3><span class="counter">@Model.PatientCount</span></h3>
                    <p>بیماران</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="counter-item">
                    <i class="icofont-doctor-alt"></i>
                    <h3 class="counter">@Model.DoctorCount</h3>
                    <p>پزشکان</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Counter -->
<br />
<!-- Blog -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title-two">
            <span>وبلاگ</span>
            <h2>اخبار وبلاگ ما</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="#">
                            <img src="~/MainAssets/img/home-one/11.jpg"
                                 alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="#">
                                راه اندازی بیش از 80 کارآزمایی بالینی برای آزمایش کرونا
                                ویروس
                            </a>
                        </h3>
                        <p>
                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                            استاندارد صنعت بوده است...
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    بیشتر بدانید <i class="icofont-long-arrow-left"></i>
                                </a>
                            </li>
                            <li> <i class="icofont-calendar"></i> تاریخ: 3 دی 1398 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="blog-details.html">
                            <img src="~/MainAssets/img/home-one/12.jpg"
                                 alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="blog-details.html">
                                راه اندازی بیش از 80 کارآزمایی بالینی برای آزمایش کرونا
                                ویروس
                            </a>
                        </h3>
                        <p>
                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                            استاندارد صنعت بوده است...
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    بیشتر بدانید <i class="icofont-long-arrow-left"></i>
                                </a>
                            </li>
                            <li> <i class="icofont-calendar"></i> تاریخ: 3 دی 1398 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4 wow fadeInUp" data-wow-delay=".7s"
                 style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="blog-item">
                    <div class="blog-top">
                        <a href="#">
                            <img src="~/MainAssets/img/home-one/13.jpg"
                                 alt="Blog">
                        </a>
                    </div>
                    <div class="blog-bottom">
                        <h3>
                            <a href="#">
                                راه اندازی بیش از 80 کارآزمایی بالینی برای آزمایش کرونا
                                ویروس
                            </a>
                        </h3>
                        <p>
                            لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                            استاندارد صنعت بوده است...
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    بیشتر بدانید <i class="icofont-long-arrow-left"></i>
                                </a>
                            </li>
                            <li> <i class="icofont-calendar"></i> تاریخ: 3 دی 1398 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#NavHome").addClass("active");
        });
    </script>
}