@page
@using Hospital.Utilities
@model Hospital.Pages.Admin.Orders.OrderHistoryModel
@{
    ViewData["Title"] = "تاریخچه سفارشات";
    Layout = "Shared/_AdminPanelLayout";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <p> تاریخچه سفارشات </p>
            <div class="col-sm-12 col-md-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter" style="float: right; padding-left: 5px;">
                    <form method="get">
                        <label> نام کابر:<input type="text" name="searchUser" class="form-control form-control-sm"></label>
                        <label> نام دکتر:<input type="text" name="searchDoctor" class="form-control form-control-sm"></label>
                        <input type="submit" class="btn btn-primary" value="اعمال فیلتر" />
                    </form>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body card-dashboard table-responsive">
                
                @if (Model.Input.Count > 0)
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Input[0].Schedule.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input[0].Schedule.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input[0].Schedule.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input[0].Schedule.ExtraMinute)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Input[0].Schedule.Doctor)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Input)
                        {
                            <tr>
                                <td>
                                    @item.UserFullName
                                </td>
                                <td>
                                    @item.Schedule.StartDate.ToShamsi()
                                </td>
                                <td>
                                    @item.Schedule.EndDate.ToShamsi()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Schedule.ExtraMinute)
                                </td>
                                <td>
                                    @item.DoctorFullName
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        آیتمی برای نمایش موجود نمی‌باشد.
                    </div>
                }
                @if (Model.Input.Count != 0 && Model.PagingInfo.TotalPage != 1)
                {
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                نمایش
                                <span> @((Model.PagingInfo.CurrentPage - 1) * SD.ItemPerPageOrderHistory + 1) </span>
                                تا
                                <span> @((Model.PagingInfo.CurrentPage - 1) * SD.ItemPerPageOrderHistory + Model.Input.Count) </span>
                                از
                                <span>@Model.PagingInfo.TotalItems</span> فیلد
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div page-model="@Model.PagingInfo"
                                 page-action="Index"
                                 page-class="btn border"
                                 page-class-normal="btn-light"
                                 page-class-selected="btn btn-info active"
                                 page-class-first-last-page="btn-dark"
                                 class="btn-group">

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#NavOrderHistory").addClass("active");
            $(".NavOrders").addClass("open");
        });
    </script>
}